<link rel="icon" href="{{ '/favicon.ico' | relative_url }}" sizes="48x48 32x32 16x16">
<link rel="icon" href="{{ '/assets/icons/icon-192.png' | relative_url }}" type="image/png" sizes="192x192">
<link rel="icon" href="{{ '/assets/icons/icon-512.png' | relative_url }}" type="image/png" sizes="512x512">
<link rel="icon" href="{{ '/assets/SAPSIcon.svg' | relative_url }}" type="image/svg+xml" sizes="any">
<link rel="apple-touch-icon" href="{{ '/assets/icons/apple-touch-icon.png' | relative_url }}" sizes="180x180">
